   p{
    font-family: Arial, Helvetica, sans-serif;
   }

   .minh-100 {
    height: 80vh;
  }
 
    #messages-error{
    font-size:12px;
    color:red;
    }
    #padding-form-register{
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 10%;
    }
    #div-darkgrey{
    padding-top:4%; 
   
    }
    
    #padding-form{
    padding:14%;
    }
    #form-profile-options{
      color: red;
      border-color:Red;
    }
    #img-profile{
    width:150px;
    height:150px;
    border-radius:125px;

    text-align: center;
    }
    #img-profile-home{
      width:60px;
      height:60px;
      border-radius:30px;
  
      text-align: center;
      }
    #div-img{
      text-align: center;

      }
    
     #botton-profile{
       width:350px;
     }
     #botton-profile2{
      width:45%;
    }
     #img-navbar{
      width:30px;
      height:30px;
      border-radius:15px;
       
     }
     #img-profile-publication{
      width:45px;
      height:45px;
      border-radius:22.5px;
  
      text-align: center;
     }
    @media screen and (max-width:800px ) {
       
    #botton-profile2{
      width:100%;
      }
      #img-profile-home{
        width:90px;
        height:90px;
        border-radius:45px;
    
        text-align: center;
        }
        .foto-user{
          display:none;
        }
        #content-desktop{
          display:none;
        }
  }

  @media (min-width: 1281px) {
    #sidemenu{
      position:fixed;
     left:0;
     z-index:1000;
     }
     
    
  }
  